<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <h1>Welcome To Davian's Weather Web Application </h1>
</head>
<body>
<div>

    <!---
        * Get The Page To Show the City Name That Was Entered
        * Display Data in a way that predicts future data
        * Finish Developing the search city page and make it more robust
        * Implement CSS and Java Script for a more robust front enfd 
        *
     --->
    <h2>Current Weather For: <span id="cityName"></span> </h2>
    <script>
    let  cityName = "Detroit";
    document.getElementById("cityName").innerHTML = cityName;
  </script>
    <p th:text="${LiveWeatherService.getCurrentWeather}">Description</p>
    <h3>Current Conditions</h3>
    <p th:text="${currentWeather.description}">Description</p>
    <h3>Temperature</h3>
    <p th:text="${currentWeather.temperature} + ' &#8457;'">Temperature</p>
    <h3>Feels Like</h3>
    <p th:text="${currentWeather.feelsLike} + ' &#8457;'">Feels Like</p>
    <h3>Wind Speed</h3>
    <p th:text="${currentWeather.windSpeed} + ' mph'"></p>
</div>
</body>
</html>